<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework1</title>
  </head>
  <body>
    <h1>Homework 1</h1>

    <div>
      <h2>Task 1</h2>
      <p>
        Write JS program which calculate sum 1+2+3+...n, where n is inputted by
        keyboard.
      </p>
    </div>

    <div>
      <h2>Task 2</h2>
      <p>Print all digits of a given number</p>
    </div>

    <div>
      <h2>Task 3</h2>
      <p>
        Change the character (-) of the members of the array let numArr = [4,
        -9, -98, -1, 444, 3, -555]
      </p>
    </div>

    <div>
      <h2>Task 4</h2>
      <p>
        Copy the odd elements from the given one into a new array. Print the new
        one in the console. const givenArr = [12, 45, 88, 1, 567, 3, 91]
      </p>
    </div>

    <div>
      <h2>Task 5</h2>
      <p>Delete all elements of the array except the numbers.</p>
    </div>

    <script src="/script/script.js"></script>
  </body>
</html>
